html body {
	background: #F7F7F7;
}
.noMargin{
	margin:0px;
}
header{
	width:100%;
	background:#f0f0f0;
	border-bottom:2px #C7C7C7 solid;
}
footer{
	width:100%;
	background:#f0f0f0;
	border-top:2px #C7C7C7 solid;	
}
.menu{
	width:280px;
	margin:0px auto;
}
.menu ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.menu-item{
	display:block;
	float:left;
}
.menu .menu-item-link{
	display:block;
	padding:17px 12px;
	text-decoration:none;
	color:#4A4949;
}
.menu .menu-item-link:hover,
.menu .menu-item-link.selected{
	background:#C7C7C7;
}

.mainBody {
	width: 90%;
	max-width:990px;
	padding:15px;
	padding-top:0px;
	text-align:center;
	margin:20px auto;
	background:none;
}
.table {
	margin-top: 20px;
	width:100%;
	text-align:left;
}
textarea.form-control{
	height:100px;
	resize:none;
}
.input-group{
	margin-bottom:15px;
}
.input-group { font-size: 14px !important; }
.input-group.select input.form-control{
	width:70%;
}
.input-group.select select.form-control{
	width:30%;
}
.title{
	text-align:left;
}
.valido{
	font-size:18px;
	font-weight:bold;
	color:green;
}
.valido .stateValid{
	background-image: url("images/valid.png");
}
.invalido .stateValid{
	background-image: url("images/invalid.png");
}
.stateValid{
	display:block;
	width:22px;
	height:18px;
	overflow:hidden;
	background: no-repeat center center;
}
#movel-new{
	width: 750px;
	margin:0px auto;
}