<section id="movel-new">
	<h3 class="title">Digite as informações do móvel</h3>
	<form name="movelForm" class="form-inline">
		<div class="form-group">

			<div class="input-group">
				
				<div class="input-group-addon" ng-class="validClass(movelForm.codigo, 'valido', 'invalido')"><span class="stateValid"></span></div>
				<input class="form-control" type="text" ng-model="movel.codigo" name="codigo" placeholder="Código" ng-required="true" ng-pattern="onlyNumber" valid-number/>

				<div class="input-group-addon" ng-class="validClass(movelForm.nome, 'valido', 'invalido')"><span class="stateValid"></span></div>
				<input class="form-control" type="text" ng-model="movel.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="3"/>
			</div>
			<div class="input-group select">
				<div class="input-group-addon" ng-class="validClass(movelForm.altura, 'valido', 'invalido')"><span class="stateValid"></span></div>
				<input class="form-control" type="text" ng-model="movel.altura" name="altura" placeholder="Altura" ng-required="true" ng-pattern="numberDotNumber" ng-disabled="medida.altura == null"/>
				<select class="form-control" ng-model="medida.altura" ng-options="medida.id as medida.medida for medida in medidas" ng-change="">
					<option value="" disabled="disabled">Selecione a medida</option>
				</select>
			</div>
			<div class="input-group select">
				<div class="input-group-addon" ng-class="validClass(movelForm.largura, 'valido', 'invalido')"><span class="stateValid"></span></div>
				<input class="form-control" type="text" ng-model="movel.largura" name="largura" placeholder="Largura" ng-required="true" ng-pattern="numberDotNumber" ng-disabled="medida.largura == null"/>
				<select class="form-control" ng-model="medida.largura" ng-options="medida.id as medida.medida for medida in medidas" >
					<option value="" disabled="disabled">Selecione a medida</option>
				</select>
			</div>
			<div class="input-group select">
				<div class="input-group-addon" ng-class="validClass(movelForm.profundidade, 'valido', 'invalido')"><span class="stateValid"></span></div>
				<input class="form-control" type="text" ng-model="movel.profundidade" name="profundidade" placeholder="Profundidade" ng-required="true" ng-pattern="numberDotNumber" ng-disabled="medida.profundidade == null"/>
				<select class="form-control" ng-model="medida.profundidade" ng-options="medida.id as medida.medida for medida in medidas" >
					<option value="" disabled="disabled">Selecione a medida</option>
				</select>
			</div>
			<div class="input-group">
				<div class="input-group-addon" ng-class="validClass(movelForm.descricao, 'valido', 'invalido')"><span class="stateValid"></span></div>
				<textarea class="form-control" ng-model="movel.descricao" name="descricao" placeholder="Descrição" ng-required="true" ng-minlength="10"></textarea>
			</div>
			
		</div>
	</form>
	<button class="btn btn-primary btn-block" ng-click="addMovel(movel, medida)" ng-disabled="movelForm.$invalid">Adicionar Móvel</button>		
</section>

